<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Kfz.Database.Properties.Settings.kfzConnectionString"
      connectionString="server=linux;user id=kfz;database=kfz;sqlservermode=False;password=Syquest1!;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
